@import 'reset';

.select-block {
  margin-bottom: 1.4rem;
}
.input-block, .textarea-block {
  position: relative;
  &:focus-within {
    &::after {
      content: "";
      width: calc(100% - 3.2rem);
      height: 2px;
      background: $color-primary-light;
      position: absolute;
      left: 1.6rem;
      right: 1.6rem;
      bottom: 0;
    }
  }
}
.select-block, .input-block, .textarea-block {
  label {
    font-size: 1.4rem;
    color: $color-text-complement;
  }
  input, select, textarea {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: $color-input-background;
    border: 1px solid $color-line-in-white;
    outline: none;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
  }
}
.textarea-block {
  textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize: vertical;
  }
}
button.filter {
  width: 100%;
  height: 5.6rem;
  background: $color-secondary;
  color: $color-button-text;
  border: 0;
  border-radius: .8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.2s;
  margin-top: 3.2rem;
  outline: none;
  &:hover {
    background-color: $color-secondary-dark;
  }
}
label {
  small {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: $color-small-info;
  }
}
